@model MyLibrary.Model.Contact

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Created_At)
    @Html.HiddenFor(model => model.Updated_By)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-danger text-uppercase">
                    <strong> Cập Nhật Thông tin khách hàng</strong>
                </div>
                <div class="col-md-6 text-right ">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fas fa-save"></i>Lưu[Cập Nhật]
                    </button>
                    <a class="btn btn-sm btn-info" href="@Url.Action("Index","Contact")"><i class="fas fa-backward"></i>Quay về danh sách</a>


                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label> Tên Khách hàng</label>
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label> Email </label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label> Số Điện Thoại</label>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Ghi Chú</label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>chi tiết</label>
                        @Html.EditorFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>chi tiết khách hàng</label>
                        @Html.EditorFor(model => model.ReplayDetail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ReplayDetail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label> Trạng thái</label>
                        @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Xuất Bản", Value = "1" }, new SelectListItem { Text = "Chưa Xuất Bản", Value = "2" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    
    </div>
}

