@model MyLibrary.Model.Order

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exportdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exportdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deliveryaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deliveryaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deliveryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deliveryname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deliveryphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deliveryphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deliveryemail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deliveryemail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_At)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_At)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
