@model MyLibrary.Model.Post

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Created_At)
    @Html.HiddenFor(model => model.Created_By)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-danger text-uppercase">
                    <strong> Cập Nhật Bài Viết</strong>
                </div>
                <div class="col-md-6 text-right ">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fas fa-save"></i>Lưu[Cập Nhật]
                    </button>
                    <a class="btn btn-sm btn-info" href="@Url.Action("Index","Post")"><i class="fas fa-backward"></i>Quay về danh sách</a>


                </div>
            </div>

        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label> Tên Bài Viết</label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label> Chi tiết bài viết</label>
                        @Html.TextAreaFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label> Từ khóa SEO</label>
                        @Html.TextAreaFor(model => model.MetaKey, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label> Mô tả SEO</label>
                        @Html.TextAreaFor(model => model.MetaDesc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Kiểu bài viết</label>
                        @Html.EditorFor(model => model.PostType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PostType, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Vị Trí</label>
                        @Html.EditorFor(model => model.Topid, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Topid, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label> Trạng thái</label>
                        @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Xuất Bản", Value = "1" }, new SelectListItem { Text = "Chưa Xuất Bản", Value = "2" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

